<h1>Login</h1>

  <% if @errors %>
    <%= render 'shared/errors' %>
  <% end %>

  <%= form_with url: sessions_path, local: true do |f| %>

  <p>
    <%= f.label "Username"  %><br>
    <%= f.text_field :username  %>
  </p>

  <p>
    <%= f.label "Password"  %><br>
    <%= f.password_field :password  %>
  </p>

  <p>
    <%= f.submit %>
  </p>


  <% end %>
