<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>SmorgasBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="nav-bar">
      <%= link_to "Home", root_path %>
      <% if current_user %>
        <%= render './logged_in_links' %>
      <% else %>
        <%= render './logged_out_links' %>
        <%= render 'shared/flash' if flash[:notice] %>
      <% end %>
    </nav>

    <% if !logged_in? %>
      <div class="sidebar-box">
      </div>
    <% else %>
      <div class="friends">
      <h3><u><center>Pending requests:</center></u></h3>
        <%= render "requests/received" %>
      <h3><u><center>Sent Requests:</center></u></h3>
        <%= render "requests/sent" %>
        <h3><u><center><%= link_to "User List", users_path %></center></u></h3>
    </div>
   <% end %>

    <%= yield %>
  </body>
</html>
