<!DOCTYPE html>
<html>
  <head>
    <title>SmorgasBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <%= link_to "Home", root_path %>
      <% if current_user %>
        <%= render './logged_in_links' %>
      <% else %>
        <%= render './logged_out_links' %>
        <%= render 'shared/flash' if flash[:notice] %>
      <% end %>
    </nav>

    <% if !logged_in? %>
      <div class="sidebar-box">
      </div>
    <% else %>
      <div class="friends">Where friend list goes</div>
    <% end %>

    <%= yield %>
  </body>
</html>
