<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>SmorgasBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="nav-bar">
      <%= link_to "Home", root_path %>
      <% if current_user %>
      <!-- Remember to add a path here to user profile page. -->

        <%= link_to "Sup, #{@current_user.username}?", user_path(current_user) %>
        <%= link_to "Logout", logout_path %>

      <% else %>
        <%= render './logged_out_links' %>
        <%= render 'shared/flash' if flash[:notice] %>
      <% end %>
      <% if !logged_in? %>
      <div class="sidebar-box box" id="friends-info">
      </div>
      <% else %>
      <div class="box" id="friends-info"> Where friend list goes
      </div>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
