<!DOCTYPE html>
<html>
  <head>
    <title>SmorgasBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <%= link_to "Home", root_path %>
      <% if current_user %>
      <!-- Remember to add a path here to user profile page. -->

        <%= link_to "Sup, #{@current_user.username}?", user_path(current_user) %>
        <%= link_to "Logout", logout_path %>

      <% else %>
        <%= render './logged_out_links' %>
      <% end %>
      <div class="box" id="friends-info">Put friends info here if logged in. Else, default to something else...</div>
    </nav>

    <%= yield %>
  </body>
</html>
